body {
    background-color: rgb(48, 48, 48);
    color: white;
}

#question {
    margin: 5vh;
    text-align: center;
    background-color: rgb(66, 66, 66);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#options {
    margin: 0px auto;
    background-color: rgb(58, 58, 58);
}

.optionColumn {
    height: 10vh;
    width: 10vh;
    background-color: rgb(50, 50, 50);
}

.optionColumn:hover {
    cursor: pointer;
    background-color: rgb(52, 52, 52);
}

.optionColumn:active {
    cursor: pointer;
    background-color: rgb(57, 57, 57);
}

#nextBtn {
    background-color: rgb(58, 58, 58);
    width: 10vh;
    height: 3vh;
    margin: 5vh;
    text-align: center;
    font-size: 2vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nextBtn:hover {
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}

#nextBtn:active {
    background-color: rgb(66, 66, 66);
}

#start {
    align-items: center;
    text-align: center;
}

#startBtn {
    background-color: rgb(92, 92, 92);
    color: white;

    border: 0;
    border-radius: 1.5vh;

    text-align: center;
    font-size: 3.5vh;
    padding: 1vh;
    text-decoration: none;

    height: 6vh;
    width: 20vh;
}

#startBtn:hover {
    cursor: pointer;
    background-color: rgb(98, 98, 98);
}

#startBtn:active {
    background-color: rgb(104, 104, 104);
}

h4 {
    margin-top: 1vh;
    margin-bottom: 2vh;

    font-size: 5vh;
}

#loading {
    font-size: 3vh;
}