body {
    background-color: rgb(48, 48, 48);
    color: white;
}

#question {
    margin: 5vh;
    text-align: center;
    background-color: rgb(66, 66, 66);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#options {
    margin: 0px auto;
    background-color: rgb(58, 58, 58);
}

.optionColumn {
    height: 10vh;
    width: 10vh;
    background-color: rgb(50, 50, 50);
}

.optionColumn:hover {
    cursor: pointer;
    background-color: rgb(52, 52, 52);
}

.optionColumn:active {
    cursor: pointer;
    background-color: rgb(57, 57, 57);
}

#NextBtn {
    text-align: center;
    width: auto;
}

#nextBtn {
    background-color: rgb(58, 58, 58);

    height: 10vh;

    align-items: center;

    font-size: 7vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nextBtn:hover {
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}

#nextBtn:active {
    background-color: rgb(66, 66, 66);
}

#start {
    align-items: center;
    text-align: center;
}

#startBtn {
    background-color: rgb(92, 92, 92);
    color: white;

    border: 0;
    border-radius: 1.5vh;

    text-align: center;
    font-size: 3.5vh;
    padding: 1vh;
    text-decoration: none;

    height: 6vh;
    width: 20vh;
}

#startBtn:hover {
    cursor: pointer;
    background-color: rgb(98, 98, 98);
}

#startBtn:active {
    background-color: rgb(104, 104, 104);
}

h4 {
    margin-top: 1vh;
    margin-bottom: 2vh;

    font-size: 5vh;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 8vh;
    height: 8vh;
    margin: -10vh 0 0 -10vh;
    border: 2vh solid #f3f3f3;
    border-radius: 50%;
    border-top: 2vh solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}